@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Josefin+Sans&display=swap");

:root {
  --clr-green: #c6d57e;
  --clr-red: #d57e7e;
  --clr-blue: #a2cdcd;
  --clr-pastel: #ffe1af;

  --clr-green-darkest: #134611;
  --clr-green-dark: #3e8914;
  --clr-green-medium: #3da35d;
  --clr-green-light: #96e072;
  --clr-green-lightest: #e8fccf;

  --shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);

  --font-head: "Balsamiq Sans", cursive;
  --font-text: "Josefin Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  transition: 500ms;
  background-color: var(--clr-green-dark);
}

img {
  max-width: 100%;
}
/* === HEADER === */

.logo {
  display: inline-block;
  width: 8rem;
  margin: 1rem 2rem;
}

.burger {
  display: none;
}

.darkmode-outer {
  display: inline-block;
  position: relative;
  width: 4rem;
  height: 2.5rem;
  background-color: transparent;
  border: 0.3rem solid black;
  border-radius: 2.5rem;
  transform: translateY(0.7rem);
  transition: 500ms;
}

.darkmode-inner {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;
  border-radius: 50%;
  transition: 500ms;
}

.darkmode-outer[data-darkmode="true"] {
  background-color: black;
}

.darkmode-inner[data-darkmode="true"] {
  transform: translateX(100%);
  background-color: white;
}

.wrapper {
  display: inline;
  float: right;
  margin: 2.8rem 3rem;
  margin-bottom: 0;
}

.wrapper p {
  display: none;
}

.nav-bar {
  display: inline-block;
}

.nav-buttons {
  padding: 1.3rem 1.3rem;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-green-lightest);
  border-radius: 5px;
  font-family: var(--font-text);
  font-size: 1.3rem;
  transition: 500ms;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nav-buttons:hover,
.nav-buttons:focus {
  /* background-color: rgba(0, 0, 0, 0.205); */
  background-color: var(--clr-green-medium);
}

@media (max-width: 60rem) {
  .logo {
    display: block;
    width: 8rem;
    margin: 1rem 1rem;
  }

  .darkmode-outer {
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0.3rem solid black;
    border-radius: 2.5rem;
    transition: 500ms;
  }

  .darkmode-inner {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 50%;
    transition: 500ms;
  }

  .darkmode-outer[data-darkmode="true"] {
    background-color: black;
  }

  .darkmode-inner[data-darkmode="true"] {
    transform: translateX(100%);
    background-color: white;
  }

  .burger {
    display: initial;
    position: fixed;
    top: 3rem;
    right: 1.5rem;
    width: 3rem;
    z-index: 10;
    transition: 500ms ease-in-out;
  }

  .burger[data-visible="true"] {
    transform: rotateZ(720deg);
    width: 3rem;
  }

  .wrapper {
    position: fixed;
    display: flex;
    margin: initial;
    z-index: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    right: 0;
    top: 0;
    height: 100vh;
    max-width: 65%;
    background-color: var(--clr-green-light);
    transform: translateX(100%);
    transition: 500ms ease-in-out;
  }

  .wrapper[data-visible="true"] {
    transform: translateX(0%);
    border-top-left-radius: 10vh 10vh;
    box-shadow: -5px 0 50px rgba(0, 0, 0, 0.3);
  }

  .nav-bar {
    margin-top: 6rem;
  }

  .nav-buttons {
    padding: 1.3rem 1.3rem;
    display: block;
    text-decoration: none;
    color: var(--clr-green-lightest);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    font-family: var(--font-text);
    font-size: 1.3rem;
    transition: 500ms;
  }

  .nav-buttons:hover,
  .nav-buttons:focus {
    /* background-color: rgba(0, 0, 0, 0.205); */
    background-color: var(--clr-green-medium);
  }
}

/* === INTRO === */

.intro div {
  background-image: url("img/introimg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.intro div h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-block: 10rem;
  text-align: center;
  font-family: var(--font-head);
  font-size: 3rem;
  color: var(--clr-green-lightest);
  text-shadow: var(--shadow);
}

@media (min-width: 60rem) {
  .intro div {
    background-repeat: no-repeat;
    background-position: center -150px;
  }
}

/* === STORE === */

.store {
  z-index: 10;
  /* background-color: rgb(42, 126, 77); */
  background: linear-gradient(var(--clr-green-medium), var(--clr-green));
}

.store-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store-item {
  padding: 1.5rem;
}

.store-item:first-child {
  margin-top: 0;
  padding-top: 1rem;
}

.store-item:last-child {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.store-item img {
  display: block;
  max-width: 15rem;
  height: 15rem;
  border-radius: 10%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.301);
}

.store-item p {
  text-align: center;
  color: var(--clr-green-lightest);
  text-shadow: var(--shadow);
  font-family: var(--font-text);
  font-size: 1.5rem;
}

.button {
  padding: 1rem;
  text-align: center;
  font-family: var(--font-text);
  background-color: rgb(255, 245, 106);
  border-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  transition: 500ms ease;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -ms-transition: 500ms ease;
  -o-transition: 500ms ease;
}

.buttonAnim {
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}

.button:hover {
  background-color: honeydew;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.301);
}

.store-item-button {
  margin: auto;
  display: block;
}

@media (min-width: 60rem) {
  .store-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .store-item:first-child {
    margin-top: 1rem;
    padding-top: 1.5rem;
  }

  .store-item:last-child {
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
  }
}

/* === ACCESSORIES AND TREATS === */

.store-misc,
.store-treats {
  display: none;
}

/* === BOTTOM CART === */

.bottom-cart {
  display: none;
  position: sticky;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: auto;
  text-align: center;
  /* background-color: rgba(0, 250, 133, 0.459); */
  background-color: #c6d57e46;
  backdrop-filter: blur(10px);
  /* transition: 500ms ease-in-out; */
}

.bottom-cart[data-visible="true"] {
  height: initial;
}

.bottom-cart p {
  display: block;
  margin: auto;
  padding: 0.2rem;
  color: honeydew;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-family: var(--font-text);
}

.bottom-cart-button {
  display: inline-block;
  width: 65%;
  margin-bottom: 1rem;
}

.button-remove {
  /* display: none; */
  margin: auto;
  margin-top: 1rem;
  background-color: rgb(216, 102, 102);
}

.button-remove[data-visible="true"] {
  display: inline-block;
}

.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item img {
  width: 3rem;
  margin: 1rem;
  border-radius: 10%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.301);
}

.cart-item p {
  font-size: 0.8rem;
  text-shadow: 1px 1px 1px rgb(78, 78, 78);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.quantity {
  margin: 0 0.5rem;
  width: 2.5rem;
  height: 3.5rem;
  background-color: rgb(255, 245, 106);
  border: none;
  /* outline: 1px solid rgb(107, 107, 107); */
  border-radius: 10%;
  font-family: var(--font-text);
  font-size: 1.5rem;
  text-align: center;
}

.quantity:focus {
  outline: none;
}

.button-minus {
  float: left;
  margin-left: 1rem;
  user-select: none;
  font-size: 1.5rem;
}

.button-plus {
  float: right;
  user-select: none;
  font-size: 1.5rem;
}

@media (min-width: 60rem) {
  .cart-item {
    display: inline-block;
    padding: 1rem;
  }
}

/* === LITTLE INFO SECTION === */

.info-section {
  background: linear-gradient(var(--clr-green), var(--clr-green-darkest));
  color: var(--clr-green-lightest);
  text-shadow: var(--shadow);
  text-align: center;
  padding: 1rem;
}

.info-section h2 {
  font-family: var(--font-head);
  font-size: 2rem;
}

.info-section p {
  font-family: var(--font-text);
  font-size: 1rem;
}

.info-section img {
  height: 15rem;
  width: 15rem;
  border-radius: 50vh;
  -webkit-border-radius: 50vh;
  -moz-border-radius: 50vh;
  -ms-border-radius: 50vh;
  -o-border-radius: 50vh;
}

/* === FOOTER === */

footer {
  background-color: #232323;
  text-align: center;
  color: honeydew;
}

.disclaimer {
  margin: 0;
  font-family: var(--font-head);
  padding: 2rem;
  padding-bottom: 0;
}

.footer-text {
  margin: 0;
  font-family: var(--font-text);
  padding: 2rem;
  /* padding-top: 0; */
}

footer nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer a {
  /* display: flex;
  justify-content: center; */
  text-decoration: none;
  font-family: var(--font-head);
  color: honeydew;
  text-transform: uppercase;
  padding: 1rem;
}

footer a:hover {
  text-decoration-line: underline;
}

@media (min-width: 60rem) {
  footer nav {
    flex-direction: row;
  }
}

/* === PURCHASE POPUP === */

.purchase-complete {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 80vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-green-dark);
  color: var(--clr-green-lightest);
  text-align: center;
  text-shadow: var(--shadow);
  outline: 10px solid var(--clr-green-darkest);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.purchase-complete h2 {
  margin: auto;
  font-family: var(--font-head);
  font-size: 3rem;
  padding: 1rem;
}

.purchase-complete p {
  margin: auto;
  font-family: var(--font-text);
  font-size: 1.5rem;
}
